.image {
   width: 100%;
   background-color: gray;
}

.shadow-item {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1)
}

/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.4, $lineCount: 1, $bgColor: white){
    overflow: hidden;
    position: relative;
    line-height: $lineHeight;
    max-height: $lineHeight * $lineCount; 
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
    &:before {
      content: '...';
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &:after {
      content: '';
      position: absolute;
      right: 0;
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      background: $bgColor;
    }
  }
  
  .multiline-text {
    @include multiLineEllipsis($lineHeight: 1.4, $lineCount: 4em, $bgColor: white);  
  }

  .text-input {
      border-color: transparent;
      border-bottom: 1px solid #C8C8C8;
      color: gray;
      font-size: 16px;
  }