.common-popup {
   height: 250px; 
}

.button-yes {
    background-color:  rgb(43, 147, 245);
    p {
        color: white
    }
}

.button-popup {
     height: 30px;
     p {
         font-weight: bold;
     }
}