.form-popup {
    padding: 20px 30px 20px;
    height: 540px;
    z-index: 100;
 }
 
.input-container {
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    min-height: 60px;
    margin: 10px 0 10px 0;
    padding: 5px 10px;

    p {
        margin-block-end: 0;
        margin-block-start: 8px;
        font-size: 13px;
        color: #CECECE;
    }

    .input-form {
        border-bottom: none;
        color: black;
        margin-top: 5px;
        font-size: 18px;
        width: 100%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     }

     .textarea-form {
        max-height: 180px;
        min-height: 80px;
        max-width: 100%;
        min-width: 100%; 
     }
 }

.button-close {
    position: absolute;
    right: 12px;
    top: 12px;
    height: fit-content;
    width: fit-content;
    border: none;
 }

.button-save {
    width : fit-content;
    padding: 0 10px;
    align-items: center;
    display: inline-flex;
    flex-direction: row;

    p {
        font-weight: 600;
        font-size: 18px;
        margin-left: 15px;
    }

    &:hover {
        border-color: #57AD68;
        p {
            color: #57AD68;
        }
     }
 }